
/*ICONS*/

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
       url('fonts/icomoon.ttf') format('truetype'),
       url('fonts/icomoon.woff') format('woff'),
       url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important; /*SI CA BUG REMETTRE speak:never*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.myIcon{
  font-size: xx-large;
  color: gainsboro; 
}

.icon-github:before {
  content: "\e900";
}
.icon-github:hover{
  color: #030708;
}

.icon-gmail:before {
  content: "\e901";
}
.icon-gmail:hover{
  color: #EB4132;
}

.icon-linkedin:before {
  content: "\e902";
}
.icon-linkedin:hover{
  color: #0077B7;
}

/*MAIN*/

.App {
  align-items: center;
  width: 100%;
}

.navbar {
  width: 100%;
  min-height: 150px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  background-color: red;
  display : flex;
}

.navbar ul li {
  display: flex;
  list-style-type: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.bg-banner-header { 
  background-image: url('./../public/Images/Banners/BannerBackground.png'); 
  background-size: cover; 
  background-position: center;
}


@media (min-width: 1024px) {
  .bg-banner-header { 
    background-image: url('./../public/Images/Banners/BannerBackground.png'); 
    background-size: cover; 
    background-position: center;
  }
}

